<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"> 
  <dict> 
    <key>items</key> 
    <array> 
      <dict> 
        <key>assets</key> 
        <array> 
          <dict> 
            <key>kind</key> 
            <string>software-package</string> 
            <key>url</key> 
            <string>http://127.0.0.1:8090/5c85c0c221d61253d6f7a052.ipa</string> 
          </dict> 
          <dict> 
            <key>kind</key> 
            <string>display-image</string> 
            <key>needs-shine</key> 
            <true /> 
            <key>url</key> 
            <string>https://res.yxfw001.com/attachments/img/2019/3/29/045b407d15de46ac8b630dd5ddeec196.png</string> 
          </dict> 
          <dict> 
            <key>kind</key> 
            <string>full-size-image</string> 
            <key>needs-shine</key> 
            <true /> 
            <key>url</key> 
            <string>https://res.yxfw001.com/attachments/img/2019/3/29/045b407d15de46ac8b630dd5ddeec196.png</string> 
          </dict> 
        </array> 
        <key>metadata</key> 
        <dict> 
          <key>bundle-identifier</key> 
          <string>com.jgcp.ydcs.ai</string> 
          <key>bundle-version</key> 
          <string>2.2.0</string> 
          <key>kind</key> 
          <string>software</string> 
          <key>subtitle</key> 
          <string>一刀传世（安装时间需3-5分钟，请您耐心等待。）</string> 
          <key>title</key> 
          <string>一刀传世（安装时间需3-5分钟，请您耐心等待。）</string> 
        </dict> 
      </dict> 
    </array> 
  </dict> 
</plist>
